{% extends "base.html" %}

{% block title %}Clients - Mayekawa{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_client.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Liste des clients</h1>
    <div class="client-list">
        <button class="client-btn">Client 1</button>
        <button class="client-btn">Client 2</button>
        <button class="client-btn">Client 3</button>
    </div>
    <button class="add-client-btn">Ajouter un client</button>
</div>
{% endblock %}
