<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/styles_login.css">
</head>
<body>
    <div class="header">
        <img src="static\logo.png" alt="Mayekawa Logo">
    </div>
    
    <div class="login-box">
        <h3>Identifiant</h3>
        <input type="text" placeholder="Identifiant">
        <a href="#">Identifiant oublié ?</a>
        
        <h3>Mot de passe</h3>
        <input type="password" placeholder="Mot de passe">
        <a href="#">Mot de passe oublié ?</a>
        
        <button>Connexion</button>
    </div>
    
    <div class="footer">
        &copy; 2025 Mayekawa DAS - Tous droits réservés | <a href="#">Mentions légales</a>
    </div>
</body>
</html>